<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold text-color pb-3">Tasks</h2>
        <div>
            <button routerLink="/create-task"  class="btn btn-primary rounded-pill text-white fs-6 fw-bold py-2 px-4" id="">Create Task</button>
        </div>
    </div>
    <div *ngIf="loading$ | async">Loading...</div>
    <div *ngIf="error$ | async as error">{{ error }}</div>

    <div *ngIf="tasks$ | async as tasks">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-2">
        <div class="card bg-light rounded-3 mb-3">
            <div class="d-flex gap-2 align-items-center m-3">
            <img [src]="imageHome2" style="max-width: 30px !important; max-height: 30px !important;">
            <h6 class="fw-bolder">In Progress</h6>
            </div>
            <div class="mb-3 mx-3" *ngFor="let task of filterTasksByStatus(tasks, 'IN_PROGRESS')" id="to-do-tasks">
            <button (click)="navigateToUpdateForm(task)" class="card w-100 d-flex bg-white p-3 mb-3">
                <div class="text-start w-100 pe-2">
                    <div class="d-flex gap-2 align-items-center">
                        <div *ngFor="let tag of task.tags">
                            <span class="btn btn-info text-black py-1 px-2 mb-2 rounded-pill">{{ tag.name }}</span>
                        </div>
                    </div>
                <div class="fw-bold">{{ task.title }}</div>
                <div class="text-start">
                    <div class="text-gray">#{{ task.id }} created in {{ task.startDate }}</div>
                    <div class="" title="{{ task.description }}">{{ task.description }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="btn btn-primary py-1 px-2 me-2">{{ task.priority }}</div>
                </div>
                </div>
            </button>
            <div><i class="bi bi-trash3-fill text-danger fs-3" (click)="onDelete(task.id, task.createdBy.id)"></i></div>

            </div>
        </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-2">
        <div class="card bg-light rounded-3 mb-3">
            <div class="d-flex gap-2 align-items-center m-3">
            <img [src]="imageHome1" style="max-width: 30px !important; max-height: 30px !important;">
            <h6 class="fw-bolder">Done</h6>
            </div>
            <div class="mb-3 mx-3" id="in-progress-tasks">
            <button *ngFor="let task of filterTasksByStatus(tasks, 'COMPLETED')" class="card w-100 d-flex bg-white p-3 mb-3">
                <div class="text-start w-100 pe-2">
                    <div class="d-flex gap-2 align-items-center">
                        <div class="d-flex gap-2 align-items-center">
                            <div *ngFor="let tag of task.tags">
                                <span class="btn btn-info text-black py-1 px-2 mb-2 rounded-pill">{{ tag.name }}</span>
                            </div>
                        </div>
                    </div>
                <div class="fw-bold">{{ task.title }}</div>
                <div class="">
                    <div class="text-gray">#{{ task.id }} created in {{ task.startDate }}</div>
                    <div class="" title="{{ task.description }}">{{ task.description }}</div>
                </div>
                <div class="">
                    <span class="btn btn-primary py-1 px-2 me-2">{{ task.priority }}</span>
                </div>
                </div>
            </button>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-2">
        <div class="card bg-light rounded-3 mb-3">
            <div class="d-flex gap-2 align-items-center m-3">
            <img [src]="imageHome" style="max-width: 30px !important; max-height: 30px !important;">
            <h6 class="fw-bolder">Undone</h6>
            </div>
            <div class="mb-3 mx-3" id="done-tasks">
            <button *ngFor="let task of filterTasksByStatus(tasks, 'UNCOMPLETED')" class="card w-100 d-flex bg-white p-3 mb-3">
                <div class="text-start w-100 pe-2">
                    <div class="d-flex gap-2 align-items-center">
                        <div *ngFor="let tag of task.tags">
                            <span class="btn btn-info text-black py-1 px-2 mb-2 rounded-pill">{{ tag.name }}</span>
                        </div>
                    </div>
                <div class="fw-bold">{{ task.title }}</div>
                <div class="">
                    <div class="text-gray">#{{ task.id }} created in {{ task.startDate }}</div>
                    <div class="" title="{{ task.description }}">{{ task.description }}</div>
                </div>
                <div class="">
                    <span class="btn btn-primary py-1 px-2 me-2">{{ task.priority }}</span>
                </div>
                </div>
            </button>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
